---
import SnsButtons from '@components/SnsButtons.astro';

const today = new Date();
---
<footer class="footer footer-center items-center p-8 bg-base-200 text-base-content mt-40">
	<p class="items-center grid-flow-col">Copyright {today.getFullYear()} yosuke hamami. All rights reserved.</p>
	<SnsButtons className=""/>
</footer>